

.table{
    border-spacing: 45;
}
thead th, tfoot th {
  font-family: 'Rock Salt', cursive;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 2px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}
