

body {
    
    color: #fff;
    font-family: 'SF Pixelate', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#wordContainer {
    
    margin-top: 20px;
}

.letter {
    color: #1F2122;
    margin: 0 7px;
    position: relative;
    text-align: center;
}

.letter::after{
    color: bisque;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    min-width: 12px;
}

#startButton {
    margin-top: 20px;
    appearance: none;
    font-family: 'SF Pixelate', sans-serif;
    border: none;
    width: 300px;
    padding: 10px;
    background: #d95d39;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}