
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{

font-family: Roboto Condensed;
font-weight: 700;
font-size: 14px;
color: #000000;
background-color:#e8cc7d;
padding: 10px 30px;
border: solid #ffffff 2px;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
border-radius: 19px;
transition : 468ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 468ms;
padding: 10px 49px;
transform : translateY(-9px);
background-color: #ffffff;
color: #000000;
border: solid 2px #e8cc7d;
}


